[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pyampd = "*"
pandas = "*"
pillow = "*"
pims = "*"
scikit-image = "*"
trackpy = "*"
papermill = "*"
matplotlib = "*"
ipykernel = "*"
imagecodecs = "*"
torch = "*"
torchvision = "*"
tensorflow = "*"
imageio = "*"
imageio-ffmpeg = "*"
jupyterlab = "*"
ipyfilechooser = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.12"
